secrets/* filter=strongbox diff=strongbox
secrets/**/* filter=strongbox diff=strongbox
nixos/.nixos/secrets/* filter=strongbox diff=strongbox
nixos/.nixos/secrets/**/* filter=strongbox diff=strongbox
