# SSH

ssh/.ssh/workgit.pub
ssh/.ssh/personalgit.pub
ssh/.ssh/known_hosts
ssh/.ssh/known_hosts.old

# Karabiner
karabiner/.config/karabiner/automatic_backups/

# Cargo
cargo/.cargo/bin
cargo/.cargo/registry
cargo/.cargo/.crates.toml
cargo/.cargo/.crates2.json
cargo/.cargo/.package-cache

# Lazygit
lazygit/.config/lazygit/state.yml

# NPM
node_modules/
