[submodule "lunarvim/.config/lvim"]
	path = lunarvim/.config/lvim
	url = git@github.com:vitorf7/lvim.git
[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = git@github.com:vitorf7/nvim.git
[submodule "neovimold/.config/nvimold"]
	path = neovimold/.config/nvimold
	url = git@github.com:vitorf7/nvimold.git
