[submodule "lunarvim/.config/lvim"]
	path = lunarvim/.config/lvim
	url = git@github.com:vitorf7/lvim.git
[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = git@github.com:vitorf7/nvim.git
[submodule "neovim_lazyvim/.config/nvim"]
	path = neovim_lazyvim/.config/nvim
	url = git@github.com:vitorf7/nvim_lazyvim.git
