
# Git Methods
function gitCommitWithMessageAndPush() {
    git commit -m "$1"
    git push
}
# Git
alias ga="git add"
alias gaa="git add ."
alias gc="git commit"
alias gcm="git commit -m"
alias gcmps="gitCommitWithMessageAndPush"
alias gpl="git pull"
alias gps="git push"
alias gst="git status"
alias gs="git switch"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gdf="git diff"
alias gch="git checkout"

#PhpSpec
alias specr="phpspec run"
alias specrcat="phpspec run --format nyan.cat"
alias specrdino="phpspec run --format nyan.dino"
alias specrcrab="phpspec run --format nyan.crab"
alias specd="phpspec describe "

# Docker helpers
alias docker-stop-everything='docker stop $(docker ps -a -q)'
alias docker-killall='docker-stop-everything && docker rm $(docker ps -a -q)'
alias docker-prune='docker system prune -a --volumes -f'
alias docker-fresh='docker-stop-everything && docker-prune'

function docker-fatality() {
    echo '============      FINISH IT   ============'
    docker stop $(docker ps -a -q)
    docker rm $(docker ps -a -q)
    docker system prune -a --volumes -f
    echo '============      FATALITY    ============'
    echo '============ FLAWLESS VICTORY ============'
}

function tmux-named() {
  session_name="$(basename "$PWD" | tr . -)"

  session_exists=$(tmux has-session -t "=$session_name")

  not_in_tmux=$([ -z "$TMUX" ])

  if not_in_tmux; then
    tmux new-session -As "$session_name"
  else
    if ! session_exists; then
      (TMUX='' tmux new-session -Ad -s "$session_name")
    fi
    tmux switch-client -t "$session_name"
  fi
}

alias brew-up-to-date="brew update && brew upgrade"
alias brew-force-update-casks="brew update && brew upgrade --cask --greedy --force"
alias brew-upgrade-everything="brew update && brew upgrade && brew upgrade --cask --greedy --force"

# Exa alias for ls (https://github.com/ogham/exa)
alias lh="exa --icons -lha"
alias ls="exa --icons"

# Mac setup for pomo
alias work="timer 60m && terminal-notifier -message 'Pomodoro'\
        -title 'Work Timer is up! Take a Break 😊'\
        -appIcon '~/Pictures/pumpkin.png'\
        -sound Crystal"
        
alias rest="timer 10m && terminal-notifier -message 'Pomodoro'\
        -title 'Break is over! Get back to work 😬'\
        -appIcon '~/Pictures/pumpkin.png'\
        -sound Crystal"

# cat
alias cat="bat"

# Ngrok
alias ngrok="ngrok --authtoken=$NGROK_AUTHTOKEN"
